.IGPic{
    position:absolute;
    right: 10px;
    bottom: 0px;
    
}
.FBPic{
    position: absolute;
    right: 20px;
    bottom:0px;
    
    
}
::selection {
    color: white;
    background: black;
}
html{
    background-color: transparent;
    
}

h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
    margin-top: 65px;
    
    
}
.intro{
    font-family: monospace;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom:15px ;
    padding-right: 10px;
    padding-top: 10px;
    color: white;
}
ul{
    font-family: monospace;
    font-size: 20px;
    color:white;
    padding-bottom:15px ;
    padding-right: 10px;
    padding-top: 10px;
}
h2{
    font-family: monospace;
    font-size: 35px;
    padding-bottom: ;
    padding-left: 15px ;
    padding-right: ;
    padding-top: ;
    color:hotpink;
}

div{
    background-image: url(http://img02.deviantart.net/cbb6/i/2011/193/c/4/texture_3b_by_jakezdaniel-d1sbrlg.jpg);
}
audio{
    position:absolute;
    bottom: 60px;
    
}


@media(max-width:768px){
    div{
        background-size: 768px 821px;
    }
    h1{
        font-size: 40px;
        }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 16px;
        
    }
    .IGPic{
    position: absolute;
        left: 700px;
        bottom: 60px;
        
        
    }
    .FBPic{
   position: absolute;
        left: 650px;
        bottom: 60px;
        
        
    }
    audio{
   position: absolute;

    bottom: 77px;
    
}
    
    
    
}
@media(max-width:425px){
    div{
        background-size: 425px 653px;
    }
    h1{
        font-size: 50px;
        }
    h2{
        font-size: 28px;
    }
    .intro{
        font-size: 18px;
        
    }
    ul{
        font-size: 18px;
    }
    .IGPic{
        position: absolute;
        left: 368px;
        top:0px;
        
        
    }
    .FBPic{
       position: absolute;
        left: 318px;
        top:0px;
    
}
    audio{
   position: relative;
    bottom:77px;


    }
    
}
@media(max-width:375px){
    div{
        background-size: 375px 675px;
    }
    
        
    }
    .IGPic{
        position: absolute;
        left: 350px;
        
    }
    .FBPic{
        position: absolute;
        left:300px;
        
    }
audio{
   position: relative;
    bottom:77px;


    }
}
